body {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

h1 {
  min-height: 1rem;
  font-size: 3rem;
  margin-bottom: 2%;
}

h2 {
  text-align-last: center;
}
button {
  font-family: 'Raleway', sans-serif;
}


.home{
  background-image: url("./images/kitchenHome.jpg");
  filter: grayscale(100%);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.homeContent {
  text-align: center;
  margin-top: 63vh;
  color: white;
}

.homeBttns {
  padding: 2% 2%;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  background: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 5%;
}

.homeBttnsContainer {
  display: flex;
  justify-content: space-between;
  display: flex;
  width: 17%;
  text-align: center;
  margin-left: 41%;
}

.lftBtn {
  margin-right: 3%;
}

.loginPage {
  background-image: url("./images/logIn2.jpg");
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.formContainer {
  background-image: url("./images/signUp.jpg");
  filter: grayscale(100%);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.regForm {
  width: 60vw;
  text-align: center;
  margin-top: 21vh;
}

.labelForm {
  color: white;
}

.successContainer {
  background-image: url('./images/bundo-kim-Pb9bUzH1nD8-unsplash.jpg');
  filter: grayscale(100%);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.successTxt {
  margin-bottom: 5vh;
  padding-top: 44vh;
  color: white;
}

.homeBttnContainer {
  padding: 3vh;
}